<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title></title>
    <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" href="css/mui.min.css" />
    <link rel="stylesheet" href="css/style.css" />
	<script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/mui.min.js"></script>
    <script type="text/javascript" src="js/init.js"></script>
    <script type="text/javascript" src="js/vue.min.js"></script>
</head>
<body>
	<header>
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		<span>修改密码</span>
	</header>
	<div class="changePassword">
		<ul>
			<li><input type="password" v-model="old_password" placeholder="请输入原密码" /></li>
			<li><input type="password" v-model="new_password" placeholder="请输入新密码" /></li>
			<li><input type="password" v-model="confirm_password" placeholder="请输入确认密码" /></li>
			<li><a href="javascript:;" v-on:tap="submit">确认修改</a></li>
		</ul>
	</div>
	<script type="text/javascript">
		new Vue({
			el : '.changePassword',
			data : {
				user_id : null,
				old_password : '',
				new_password : '',
				confirm_password : ''
			},
			mounted : function(){
				this.user_id = plus.storage.getItem('user_id');
			},
			methods : {
				submit : function(){
					if(this.old_password == ''){
						plus.nativeUI.alert('原密码不能为空！',null,'提示','确定');
					}else if(this.new_password == ''){
						plus.nativeUI.alert('新密码不能为空！',null,'提示','确定');
					}else if(this.confirm_password == ''){
						plus.nativeUI.alert('确认密码不能为空！',null,'提示','确定');
					}else if(this.confirm_password != this.new_password){
						plus.nativeUI.alert('两次密码输入不一致！',null,'提示','确定');
					}else{
						var option = {
							user_id : this.user_id,
							old_password : this.old_password,
							new_password : this.new_password
						}
						mui.post(getLocation('User/setPassword.html'),option,function(result){
							if(result.status == 'success'){
								plus.nativeUI.alert('修改成功！',function(){
									plus.webview.currentWebview().close();
								},'提示','确定');
							}else{
								plus.nativeUI.alert(result.msg,null,'提示','确定');
							}
						},'json');
					}
				}
			}
		});
	</script>
</body>
</html>